.buttonlinks {
  text-decoration: none;
}
.confirmarea {
  align-items: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 30px;
}
.confirmarea__cancel {
  background: none;
  border: none;
  color: var(--primary-one);
  grid-column-start: 1;
  height: 48px;
  justify-self: left;
  width: 140px;
}
.confirmarea__confirm {
  background: var(--secondary-one);
  border-radius: 4px;
  border: none;
  color: white;
  grid-column-start: 2;
  height: 48px;
  justify-self: right;
  width: 140px;
}

input {
  font-size: 1rem;
}

.ratebutton {
  text-align: center;
}
.ratebutton__field {
  align-content: center;
  align-items: center;
  background-color: var(--secondary-one);
  border-radius: 4px;
  border: 0;
  color: white;
  display: inline-flex;
  justify-content: center;
  padding: 12px 40px;
}
.ratebutton__star {
  padding-left: 0.5rem;
}

.ratingbox {
  color: var(--primary-two);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(3, 50px) 120px;
  margin: 30px;
}
.ratingbox__date {
  color: var(--primary-one);
  grid-row-start: 1;
  padding-bottom: 1rem;
}
.ratingbox__rating {
  grid-row-start: 2;
  padding-bottom: 1rem;
}
.ratingbox__comprehension {
  grid-row-start: 3;
  padding-bottom: 1rem;
}
.ratingbox__motto {
  grid-row-start: 4;
  padding-bottom: 1rem;
}
.rating__motto__color {
  color: var(--primary-one);
}
.ratingbox__notes {
  grid-row-start: 5;
  padding-bottom: 1rem;
}
.ratingbox__notes__text {
  color: var(--primary-one);
  padding-top: 0.2rem;
}

.ratingboxinput {
  color: var(--primary-two);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem repeat(3, 4rem) 1fr;
  margin: 30px;
}
.ratingboxinput__date {
  color: var(--primary-one);
  grid-row-start: 1;
}
.ratingboxinput__rating {
  grid-row-start: 2;
  padding-bottom: 1rem;
}
.ratingboxinput__motto {
  color: var(--primary-one);
  margin-top: 1rem;
}
.ratingboxinput__textarea {
  display: flex;
  margin-top: 0.3rem;
}
.ratingboxinput__textarea--input {
  flex-grow: 1;
}
.ratingboxinput__notes {
  color: var(--primary-one);
  margin-top: 3rem;
}
