.ratebutton {
    border: 0;
    background-color: var(--secondary-one);  
    border-radius: 4px;  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px 40px;
    color:white;
}

.ratebutton__star {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 10.42%;
    bottom: 10.42%;
}