.title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  text-align: center;
  text-transform: uppercase;
}

.body-large {
  font-style: normal;
  font-weight: 700 bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
}
.body-small {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  text-align: center;
}

.headline-uppercase {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  text-transform: uppercase;
}

.headline {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  
}
.label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
}

.motto {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
padding-top: 0.5rem;
/* identical to box height, or 100% */
}
