:root {
  --primary-one: #193251;
  --primary-two: #7589a2;

  --secondary-one: #ff5a36;
  --secondary-two: #ff9c86;
  --secondary-three: #ffbdaf;
  --secondary-four: #ffded7;
  --tertiary: #e0e4e8;
  --tertiary-light: #f8f8f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

main {
  margin-top: 90px;
  margin-bottom: 70px;
}

.headline_dash{
  margin-left: 20px;
  margin-bottom: -20px;
}